body {
    background-color: cadetblue;
}

ol, ul, p {
font: "Times New Roman" sans-serif;
font-size: 24px;
}

p {
    font: "Times New Roman" sans-serif; 
    font-size: 32px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

.red_text {
    color: rgb(255, 0, 0);
}